body {
    background: url(https://cdn.firous.com/background/404-mars.webp);
    font-family: var(--font-editorial-new);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a, a:visited {
    color: white;
}

a:hover, a:active {
    color: var(--green-100);
}

* {
    font-size: var(--font-size-large);
    text-shadow: 0px 1px 1.5px oklch(0 0 0 / 0.6);
    transition: var(--transition-fast);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30dvh;
}

h1 {
    font-weight: normal;
}

/* ITALIC LETTER */
i-l {
    font-style: italic;
}
