body {
    background-color: var(--flexoki-black);
    color: var(--flexoki-paper);
    font-family: var(--font-neue-montreal);
    color: var(--flexoki-red-400);
    border-inline: 1px solid var(--flexoki-red-900);
}

a, a:visited {
    color: var(--flexoki-red-200);
    transition: var(--transition-medium);
}

a:hover, a:focus, a:active {
    color: var(--flexoki-red-100);
}

header nav {
    grid-column-end: 13;
}

h1, h2, p {
    margin: 0;
    padding: 0;
}

section.frames-hero {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--spacing);
    height: calc(100vh - (3 * var(--font-size-medium)) - (2 * calc(var(--spacing) / 5)) - var(--spacing) - .7rem);
    grid-auto-rows: max-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

frames-title {
    grid-column: span 12;
    position: absolute;
    width: 100%;
    display: flex;
    gap: calc(var(--spacing) / 3);
    flex-direction: column;
}

h1 {
    grid-column: span 12;
    display: grid;
    grid-template-columns: var(--grid);
    gap: var(--spacing);
    row-gap: 0;
    grid-auto-columns: max-content;
    font-weight: 500;
}

h1 span {
    grid-column: span 2;
}

p {
    grid-column: span 12;
}

frames-featured {
    display: grid;
    grid-template-columns: var(--grid);
    gap: var(--spacing);
}

article.frames-featured {
    grid-column: span 4/9;
    overflow: hidden;
    aspect-ratio: 3/4;

    @media (max-width: 767px) {
        grid-column: span 4 / 6;
    }
}

img {
    /* aspect-ratio: 3/4; */
    background: red;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

section.frames-gallery {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
    align-items: end;
}

section.frames-gallery article {
    aspect-ratio: 3/4;
    background: var(--flexoki-red-900);
    grid-column: span 4;
}

section.frames-gallery article:nth-child(3n+1),
section.frames-gallery article:nth-child(7n+2),
section.frames-gallery article:nth-child(11n+5) {
    grid-column: span 2;
}

section.frames-gallery article:nth-child(3n+1),
section.frames-gallery article:nth-child(7n+2) {
    aspect-ratio: 4/3;
}

section.frames-gallery article:nth-child(6n+1) {
    outline: 1px solid red;
    margin-right: calc((100vw - (13 * var(--spacing))) / 9);
    grid-column: span 4;
}

section.frames-gallery article:last-child {
    grid-column: 5 / 9;
}

footer h3 {
    color: var(--flexoki-red-700);
}

footer svg {
    fill: var(--flexoki-red-900);
}