:root {
  --primary: var(--red-900);
  --accent: var(--red-600);
  --highlight: var(--paper);
  --muted: var(--600);
  scroll-behavior: smooth;
  font-size: 16px;
  --humanist: var(--font-museum);
  --sans: sans-serif;
}

body {
  font-family: var(--humanist);
  font-weight: 300;
  color: var(--primary);
}

/* OVERLAY SCROLLBARS 
.os-scrollbar {
  pointer-events: auto !important;
  visibility: visible !important;
  cursor: pointer;
}

.os-scrollbar-handle {
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }
}
*/

h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

a,
a:visited {
  color: var(--primary);
  transition: var(--transition-medium);
}

a:hover,
a:focus,
a:active {
  color: var(--red-600);
}

header {
  display: grid;
  grid-template-columns: var(--grid-12);
  gap: var(--spacing);
}

body > header > * {
  grid-column: span 4;
}

header * {
  font-weight: normal;
  text-decoration: none;
}

header svg path {
  fill: white;
}

logo-container {
  grid-column: span 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: var(--spacing);

  @media (max-width: 767px) {
    grid-column: span 11;
    grid-template-columns: repeat(11, 1fr);
  }
}

logo-container svg {
  width: var(--size);
  object-fit: fill;
  height: auto;
  fill: red;
}

logo-monogram a span {
  display: block !important;
  width: var(--size);
  height: var(--size);
  background: red;
}

logo-wordmark {
  display: flex;
  gap: calc(var(--spacing) / 5);
  flex-direction: column;
  grid-column: span 2;

  @media (max-width: 767px) {
    grid-column: span 10;
  }
}

logo-container p {
  margin: 0;
}

header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 5);

  @media (max-width: 767px) {
    display: none;
  }
}

header nav ul li {
  list-style: none;
}

header nav a {
  display: inline-flex;
  position: relative;
  justify-content: center;
  transition: var(--transition-medium);

  &::after {
    display: block;
    position: absolute;
    color: var(--secondary);
    transition: var(--transition-medium);
    opacity: 0;
    transform: translateY(1.5ch) scale(0.8) rotateY(0deg);
    pointer-events: none;
  }
}

header a:nth-child(2) {
  display: flex;
  justify-content: center;
}

header nav a[href^="/garden"] {
  &::after {
    content: "&";
    font-family: var(--serif);
    font-style: italic;
  }
}

header nav a[href^="/frames"] {
  &::after {
    content: "";
    display: block;
    height: var(--font-size-small);
    width: var(--font-size-small);
    mask-repeat: no-repeat;
    mask-position: center center;
    background: var(--secondary);
    mask-size: 100%;
    mask-image: url("/src/assets/brand/frames logo 2 by 4.svg");
    margin-top: calc(var(--font-size-small) / 2);
  }
}

header nav a {
  &:hover {
    &::after {
      opacity: 1;
      transform: translateY(1rem) scale(1) rotateY(180deg);
      background: var(--accent);
    }
  }
}

header nav-menu {
  display: flex;
  justify-content: flex-end;
}

header nav-menu button {
  all: unset;
  display: flex;
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
  gap: calc(30px / 5);
  cursor: pointer;
  padding: 6px;
  margin: -6px;
  z-index: 20;
}

header nav-menu button menu-icon {
  display: block;
  height: calc(30px / 5);
  width: calc(30px / 5);
  background: white;
  transition: var(--transition-medium);
}

header nav-menu button menu-icon:nth-child(odd) {
  border-radius: 100px;
}

header nav-menu button:hover menu-icon:nth-child(even) {
  transform: rotateY(180deg);
}

header nav-menu button[aria-expanded="true"] menu-icon:nth-child(even) {
  opacity: 0;
  transform: scale(0.6);
}

header nav-menu button:hover menu-icon,
header nav-menu button[aria-expanded="true"] menu-icon {
  background: var(--accent);
}

header nav-menu nav {
  display: block;
  position: fixed;
  background: var(--paper);
  top: 0;
  right: 0;
  padding: var(--spacing);
  bottom: 0;
  z-index: 10;
  width: 50vw;
  min-width: 300px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform var(--transition-medium);
}

header nav-menu nav ul {
  display: flex !important; /* Override any potential display:none */
  flex-direction: column;
  gap: var(--spacing);
  margin-top: calc(var(--spacing) * 2);
}

header nav-menu nav ul li a {
  font-size: 2rem;
}

header nav-menu button[aria-expanded="true"] + nav {
  transform: translateX(0);
}

header nav {
  grid-column-end: 13;
}

footer {
  height: 60vh;
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--spacing-vertical);
}

footer p {
  width: calc((100% / 2) - (var(--spacing) / 2));
  text-wrap-style: pretty;
}

footer section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
}

footer section svg {
  grid-column: span 2;
  height: auto;
  width: 100%;
  display: block;
}

footer section path {
  fill: var(--primary);
}

/* INDEX START */

.index header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: var(--spacing);
}

.index .hero {
  grid-column: span 12;
  margin: calc(var(--spacing) * -1);
  margin-bottom: 0;
  z-index: 0;
  height: calc(100vh - var(--spacing) * 4 - 1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--spacing-vertical);
  align-items: flex-end;
  padding: var(--spacing);
}

.index .hero h1 {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
  order: 2;
}

.index .hero h1 svg {
  grid-column: span 2;
  height: auto;
  width: 100%;
  display: block;
}

.index .hero p {
  width: calc(50% - var(--spacing) / 2);
  z-index: 2;
  position: relative;
  color: white;
  order: 1;
}

.index .hero .featured {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.index .hero .featured img {
  object-fit: cover;
  object-position: top;
  height: auto;
  width: 100%;
  height: 100%;
}

.index .hero .featured h2 {
  display: none;
}

.index .frames-title {
  grid-column: span 12;
  position: absolute;
  width: 100%;
  display: flex;
  gap: calc(var(--spacing) / 3);
  flex-direction: column;
}

.index article.frames-featured {
  grid-column: span 4/9;
  overflow: hidden;
  aspect-ratio: 3/4;

  @media (max-width: 767px) {
    grid-column: span 4 / 6;
  }
}

.index img {
  /* aspect-ratio: 3/4; */
  background: var(--accent);
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.index filter-sort {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

.index .gallery {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: var(--spacing);
  align-items: end;
}

.index .gallery article {
  grid-column: span 4;

  @media (max-width: 767px) {
    grid-column: span 6;
  }
}

/* RANDOM SIZE
.index section.frames-gallery article:nth-child(3n + 1),
.index section.frames-gallery article:nth-child(7n + 2),
.index section.frames-gallery article:nth-child(11n + 5) {
  grid-column: span 2;
}

.index section.frames-gallery article:nth-child(3n + 1),
.index section.frames-gallery article:nth-child(7n + 2) {
  aspect-ratio: 4/3;
}

.index section.frames-gallery article:nth-child(6n + 1) {
  outline: 1px solid red;
  margin-right: calc((100vw - (13 * var(--spacing))) / 9);
  grid-column: span 4;
}

.index section.frames-gallery article:last-child {
  grid-column: 5 / 9;
}
*/

.index .gallery article h2 {
  font-family: var(--sans);
  font-weight: 600;
  margin-top: var(--spacing-half);
}

/* INDEX END */

/* SINGLE PAGE */

header a.logo {
  align-items: center;
  justify-content: space-between;
}

header a.logo svg.wordmark {
  height: 1rem;
}

.single header svg path,
.single header nav-menu button menu-icon {
  fill: var(--primary);
  background: var(--primary);
  transition: var(--transition-medium);
}

.single header a:hover svg path {
  fill: var(--accent);
}

.single header nav-menu button:hover menu-icon {
  background: var(--accent);
}

.single article {
  grid-column: span 12;
  display: grid;
  grid-template-columns: [fullwidth-start] 1fr 1fr [col-8-start] 1fr [col-6-start] 1fr 1fr 1fr [center] 1fr 1fr 1fr [col-6-end] 1fr [col-8-end] 1fr 1fr [fullwidth-end];
  column-gap: var(--spacing);
  grid-auto-rows: auto;
  position: relative;
}

.single article img,
.single article h2,
.single article h3,
.single article p,
.single article ul,
.single article ol,
.single article pre,
.single article hr,
.single article .footnotes,
.single article footer {
  grid-column: col-6;

  @media (max-width: 1023px) {
    grid-column: col-8;
  }

  @media (max-width: 767px) {
    grid-column: fullwidth;
  }
}

.single article header {
  grid-column: fullwidth;
  margin-top: calc(var(--spacing-vertical) * 3);
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: [fullwidth-start] 1fr 1fr [col-8-start] 1fr [col-6-start] 1fr 1fr 1fr [center] 1fr 1fr 1fr [col-6-end] 1fr [col-8-end] 1fr 1fr [fullwidth-end];
  column-gap: var(--spacing);
  grid-auto-rows: auto;
  text-align: left;
}

.single article header > *:not(img) {
  /* 
  position: sticky;
  */
  top: calc(var(--spacing-vertical) * 3);
  height: fit-content;
  font-size: 1rem;
}

.single article header h1 {
  grid-column: col-6;
  font-size: 1rem;
  font-weight: 300;
  grid-row: 1;
}

.single article header time {
  grid-column-start: fullwidth-start;
  grid-column-end: col-6-start;
  grid-row: 1;
}

.single article header .tags {
  grid-column-start: col-6-end;
  grid-column-end: fullwidth-end;
  grid-row: 1;
}

.single article header img {
  grid-column: col-6;
  margin-block: var(--spacing-vertical);
  padding-bottom: 2rem;
}

.single article empty-space {
  display: block;
  height: calc(2 * var(--spacing-vertical));
}

.single article > p {
  margin-block: var(--spacing-vertical);
  text-align: justify;
  hyphens: auto;
  text-wrap-style: auto;
  hyphenate-limit-chars: 7;
}

.single article img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.single article img[loading="lazy"] {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.single article footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
}

.single article footer * {
  font-size: 1rem;
}

.single footer h3 {
  color: var(--flexoki-red-700);
}

.single footer svg {
  fill: var(--flexoki-red-900);
}

/* SINGLE END */
