body {
  background-color: var(--flexoki-cyan-950);
  color: var(--flexoki-paper);
}
a,
a:visited {
  color: var(--flexoki-cyan-100);
  transition: var(--transition-medium);
}

article {
  grid-column: 4 / 10;
  margin-block: calc(3 * var(--spacing));
}

article h1 {
  font-size: var(--font-size-medium);
  font-weight: normal;
  margin-block: calc(3 * var(--spacing));
}

article h2,
article p {
  margin-block: var(--spacing);
}

article hr {
  margin-block: calc(3 * var(--spacing));
  border: 1px solid var(--muted);
}

post-meta {
  text-align: center;
  font-size: var(--font-size-small);
  font-family: var(--font-inter);
  color: var(--muted);
  margin-block: calc(3 * var(--spacing));
  display: block;
}

/* TECH */
html.tech {
  background: var(--blue-1000);
  color: var(--paper);
}

.tech {
  font-family: var(--font-inter);
  font-weight: 300;
  line-height: 150%;
}

.tech a:hover,
.tech a:active {
  color: var(--orange-400);
}

.tech h1 {
  font-size: var(--font-size-large);
}

.tech .astro-code {
  padding: var(--spacing);
  border-radius: 0.3rem;
  border: 1px solid var(--blue-900);
  font-size: var(--font-size-small);
}
/* TECH END */

/* LIFE */
html.life {
  background: var(--cyan-950);
  color: var(--cyan-50);
  --accent: var(--cyan-400);
  --text: var(--cyan-50);
  --muted: var(--600);
  --highlight: var(--cyan-50);
  --interaction: var(--cyan-400);
  --sans: var(--font-inter);
  --serif: var(--font-garamond);
}

.life svg,
.life svg path {
  fill: var(--text);
  transition: var(--transition-medium);
}

.life a:hover,
.life a:active,
.life svg:hover path {
  color: var(--accent);
  fill: var(--accent);
}

.life svg:active {
  transform: scale(0.95);
}

.life article {
  font-family: var(--font-garamond);
  font-size-adjust: var(--font-garamond-adjust);
}

.life h1 {
  font-size: var(--font-size-large);
}

.life article h2,
.life article h3 {
  text-align: center;
}

.life article a {
  font-family: var(--font-inter);
}

.life hr {
  display: flex;
  justify-content: center;
  border: none;
}

.life hr:after {
  content: "✧✧✧";
  text-align: center;
  color: var(--accent);
}
/* LIFE END */
