@import './variables.css';

:root, body {
    font-size: var(--font-size-medium);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: var(--spacing);
    padding: 0;
    position: relative;
}

body.theme-dark {
    background-color:black;
    color: white;
}

.theme-dark a,
.theme-dark a:visited {
    color: white;
    opacity: 0.8;
}

.theme-dark a:hover {
    opacity: 1;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
    max-width: 100%;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: var(--grid-12);
    gap: var(--spacing);
}

header * {
    font-size: calc(var(--font-size) - 3px);
    font-size: var(--font-size-medium);
    font-weight: normal;
    text-decoration: none;
}

header > * {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
}

logo-container {
    grid-column: span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: var(--spacing);

    @media (max-width: 767px) {
        grid-column: span 11;
        grid-template-columns: repeat(11, 1fr)
    }
}

logo-monogram a span {
    display: block !important;
    width: var(--size);
    height: var(--size);
    background: white;
}

logo-wordmark {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
    grid-column: span 2;

    @media (max-width: 767px) {
        grid-column: span 10;
    }
}

logo-container p {
    margin: 0;
}

header nav {
    @media (min-width: 768px) {
        order: 3;
    }
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
    grid-column: span 3;

    @media (max-width: 767px) {
        grid-column: span 1;
        display: flex;
    }
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 5);

    @media (max-width: 767px) {
        display: none;
    }
}

header nav ul li {
    list-style: none;
}

header nav button {
    all: unset;
    width: var(--size);
    height: var(--size);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: right;
}

header nav button .bar {
    height: calc(var(--size) / 10);
    width: 100%;
    display: block;
    background: white;
}

page-title {

    @media (min-width: 768px) {
        order: 2;
    }
    grid-column: span 6;
}

page-title h1,
page-title p {
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    margin-block-start: calc(3 * var(--spacing));
    gap: var(--spacing);
}

footer * {
    font-size: var(--font-size-small);
    font-weight: normal;
    line-height: var(--line-height-small);
}

footer > section:first-child {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
    
    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;  
        gap: calc(var(--spacing) * 1.5); 
    }
}

footer-epilogue {
    grid-column: span 5;
}

footer h3 {
    margin: 0 0 calc(var(--spacing) / 2);
}

footer p {
    margin: 0;
    line-height: var(--line-height-small);
}

footer nav a {
    text-decoration: none;
}

footer > section:last-child p {
    margin-block: 0;
}

footer nav {
    grid-column: 7/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    list-style: none;
}

footer > section:last-child {
    display: flex;
    justify-content: space-between;
}

footer-signature {
    margin: var(--spacing) calc(-1 * var(--spacing)) calc(-1 * var(--spacing));
    overflow: hidden;
    height: calc(100vw / 4);
}

footer-signature img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    height: 100%;
}

svg {
    width: 100%;
    object-fit: fill;
    height: auto;
    fill: white;
}

grid-12 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    gap: var(--spacing);
    opacity: 0.15;
    pointer-events: none;
}


grid-item {
    border-inline: 1px solid var(--flexoki-red-500);
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-block: 0;
}