body {
    margin: var(--spacing);
    padding: 0;
    margin-block-end: 0;
}

main {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header * {
    font-family: var(--font-inter);
    font-size-adjust: ex-height 0.5;
}

.logo-container {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
}

.logo-container p {
    margin: 0;
}

header nav {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
}

header nav ul {
    margin-block: 0;
    padding-inline-start: 0;
    
    &:first-child {
        text-align: right;
    }
}

header nav ul li {
    display: inline;

    &:not(:last-child)::after {
        content: ",";
    }
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

footer p {
    margin-block: var(--spacing);
}

footer nav {
    align-content: center;
}

.grid {
    opacity: 1;
    position: absolute;
    width: calc(100% - 2 * var(--spacing));
    height: 100cqi;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: var(--spacing);
    opacity: 0.15;
    pointer-events: none;
}


.grid .column {
    border-inline: 1px solid var(--flexoki-red-500);
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-block: 0;
}