@import './variables.css';

body {
    margin: var(--spacing);
    padding: 0;
    position: relative;
}

body.theme-dark {
    background-color:black;
    color: white;
}

.theme-dark a,
.theme-dark a:visited {
    color: white;
    opacity: 0.8;
}

.theme-dark a:hover {
    opacity: 1;
}

main {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header * {
    font-family: var(--font-inter);
    font-size-adjust: ex-height 0.5;
}

.logo-container {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
}

.logo-container p {
    margin: 0;
}

header nav {
    display: flex;
    gap: calc(var(--spacing) / 5);
    flex-direction: column;
}

header nav ul {
    margin-block: 0;
    padding-inline-start: 0;
    
    &:first-child {
        text-align: right;
    }
}

header nav ul li {
    display: inline;

    &:not(:last-child)::after {
        content: ",";
    }
}

footer {
    display: flex;
    flex-direction: column;
    margin-block-start: calc(3 * var(--spacing));
    gap: var(--spacing);
}

footer > section:first-child {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
}

footer > section:last-child p {
    margin-block: 0;
}

footer nav {
    grid-column: 7/13;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing);
}

footer nav section > * {
    font-family: var(--font-inter), sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

footer section section h3 {
    margin: 0 0 calc(var(--spacing) / 2);
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    list-style: none;
}

footer > section:last-child {
    display: flex;
    justify-content: space-between;
}

.grid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: var(--spacing);
    opacity: 0.15;
    pointer-events: none;
}


.grid .column {
    border-inline: 1px solid var(--flexoki-red-500);
    height: 100%;
    width: 100%;
    border-style: dashed;
    border-block: 0;
}