body {
    background-color: black;
    color: white;
}

body * {
    font-family: var(--font-neue-montreal);
}

a,
a:visited {
    color: gray;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 140%;
    margin: 0;
}

h1 {
    grid-column: span 3;
}

p {
    grid-column: 1 / 13;
    grid-row: 2;
    order: 3;
    margin: calc(100vw / 6) 0 0;
    font-size: calc(2 * var(--font-size-medium));
    font-family: var(--font-neue-montreal);
}

nav {
    grid-column: 6/13;
    justify-self: right;
    order: 2;
}

li {
    list-style: none;
    display: inline;
}

ul {
    display: inline;
    /* width: 100%; */
}

strong {
    font-family: var(--font-editorial-new);
    font-style: normal;
    font-weight: normal;
}

em {
    font-family: var(--font-editorial-new);
}