:root {
  --accent: var(--blue-400);
  --muted: var(--300);
}

main {
  display: flex;
  flex-direction: column;
}

section.labs-hero {
  background: linear-gradient(180deg, var(--flexoki-blue-150) 1%, transparent 90%);
  height: calc(50vh - 2 * var(--spacing));
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

section.labs-hero h1 {
  font-family: var(--font-editorial-new);
  font-size: var(--font-size-medium);
  font-weight: normal;
  margin-bottom: calc(-1 * var(--font-size-medium) - 1rem);
}

section.labs-hero p {
  font-family: var(--font-neue-montreal);
  font-size: calc(2 * var(--font-size-medium));
  line-height: 1.5;
  text-indent: calc((100% / 12 * 3) + 0.15em);
}

section.labs-gallery {
  display: grid;
  grid-template-columns: var(--grid);
  gap: var(--spacing);
  align-items: end;
}

section.labs-gallery article {
  grid-column: span 2;
  height: fit-content;
}

section.labs-gallery article project-thumbnail {
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  margin-bottom: calc(var(--spacing) / 3);

  &:not(:has([style="aspect-ratio: 3/4;"])) {
    aspect-ratio: 1/1;
  }
}

section.labs-gallery article project-title * {
  font-family: var(--font-neue-montreal);
}

section.labs-gallery article project-title h2 {
  font-size: var(--font-size-medium);
  font-weight: 500;
}

section.labs-gallery article project-title p {
  font-size: var(--font-size-small);
  color: var(--flexoki-400);
}

footer {
  background: linear-gradient(360deg, var(--flexoki-orange-600), var(--flexoki-orange-200), var(--flexoki-orange-50), transparent 90%);
  margin: 0;
  padding-top: calc(3 * var(--spacing));
}

footer span *:not(a):hover {
  cursor: not-allowed;
}

footer span span:hover {
  color: red;
  cursor: url("/icons/flag-id.svg"), auto;
}

grid-12 {
  margin: var(--spacing);
  z-index: -1;
}

/* NEW STYLE */

:root {
  --primary: var(--50);
  --secondary: var(--blue-950);
  --tertiary: var(--orange-950);
  --accent: var(--blue-400);
  --highlight: var(--paper);
  --muted: var(--600);
  scroll-behavior: smooth;
  font-size: 18px;
  --sans: var(--font-neue-montreal);
}

body {
  font-family: var(--sans);
  color: var(--primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-smooth: always;
}

/* OVERLAY SCROLLBARS 
.os-scrollbar {
  pointer-events: auto !important;
  visibility: visible !important;
  cursor: pointer;
}

.os-scrollbar-handle {
  cursor: pointer;

  &:active {
    cursor: grabbing;
  }
}
*/

h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

em {
  font-family: var(--mono);
  font-style: italic;
}

a,
a:visited {
  color: var(--primary);
  transition: var(--transition-medium);
}

a:hover,
a:focus,
a:active {
  color: var(--accent);
}

header * {
  font-family: var(--mono);
}

header.justified {
  display: flex;
  justify-content: space-between;
}

header.justified div.left,
header.justified div.right {
  display: flex;
  background: var(--50);
  border: 1px solid var(--150);
  gap: var(--spacing);
  border-radius: 50px;
  padding: var(--spacing-quarter) var(--spacing);
  align-items: center;
}

header.justified .logomark,
header.justified svg,
header.justified nav-menu button {
  height: calc(var(--spacing-half) + var(--spacing-quarter));
  width: calc(var(--spacing-half) + var(--spacing-quarter));
  gap: calc((var(--spacing-half) + var(--spacing-quarter)) / 5);
  border: none;
}

header.justified nav {
  margin: 0;
  padding: 0;
}

header nav ul {
  flex-direction: row;

  @media (max-width: 767px) {
    display: none;
  }
}

header nav ul li {
  list-style: none;
}

header.justified nav ul li a {
  display: flex;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--muted);
  border: none;
}

header nav-menu {
  display: flex;
  justify-content: flex-end;
}

header nav-menu nav {
  display: block;
  position: fixed;
  background: var(--paper);
  top: 0;
  right: 0;
  padding: var(--spacing);
  bottom: 0;
  z-index: 10;
  width: 50vw;
  min-width: 300px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateX(100%);
  transition: transform var(--transition-medium);
}

header nav-menu nav ul {
  display: flex !important; /* Override any potential display:none */
  flex-direction: column;
  gap: var(--spacing);
  margin-top: calc(var(--spacing) * 2);
}

header nav-menu nav ul li a {
  font-size: 2rem;
}

header nav-menu button[aria-expanded="true"] + nav {
  transform: translateX(0);
}

footer.minimal {
  display: grid;
  grid-template-columns: var(--grid);
  gap: var(--spacing);
  height: 60vh;
  margin-top: var(--spacing-vertical);
  align-items: end;
}

footer.minimal > * {
  grid-column: span 6;
  @media (max-width: 767px) {
    grid-column: span 3;
  }
}

footer * {
  font-size: var(--font-size-xs);
  font-family: var(--mono);
  font-weight: 500;
  line-height: 100%;
  color: var(--primary);
}

footer a,
footer a:visited {
  color: var(--primary);
}

footer.minimal .left,
footer.minimal .right {
  display: flex;
  gap: 1ch;
}

footer.minimal .left {
  justify-content: flex-start;
}

footer.minimal .right {
  justify-content: flex-end;
}

footer a[href^="https://firous.com"],
footer a[href^="mailto"],
footer a[href^="/"] {
  border-bottom: 1.5px solid var(--accent);
  border-bottom-style: dotted;
}

bg-gr {
  position: absolute;
  background: linear-gradient(180deg, #000000, #35404a, #ced0c6, transparent);
  height: 80vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -10;
}

bg-gr + bg-gr {
  top: unset;
  bottom: 0;
  background: linear-gradient(180deg, transparent, #edd9be, #dc8f4f, #9f340a, #0a0202);
}

header *,
.single article h1,
.metadata *,
header nav-menu button svg rect,
header nav-menu button svg circle {
  color: #d0d2c8 !important;
  fill: #d0d2c8 !important;
}

header.editorial .left a.wordmark {
  font-family: var(--sans);
  letter-spacing: 0.1ch;
}

/* LABS END */

/* 
INDEX START 
*/

.index header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin: var(--spacing);
}

.index .hero {
  grid-column: span 12;
  margin: calc(var(--spacing) * -1);
  margin-bottom: 0;
  z-index: 0;
  height: calc(100vh - var(--spacing) * 4 - 1rem);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--spacing-vertical);
  align-items: flex-end;
  padding: var(--spacing);
}

.index .hero h1 {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--spacing);
  order: 2;
}

.index .hero h1 svg {
  grid-column: span 2;
  height: auto;
  width: 100%;
  display: block;
}

.index .hero p {
  width: calc(50% - var(--spacing) / 2);
  z-index: 2;
  position: relative;
  color: white;
  order: 1;
}

.index .hero .featured {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.index .hero .featured img {
  object-fit: cover;
  object-position: top;
  height: auto;
  width: 100%;
  height: 100%;
}

.index .hero .featured h2 {
  display: none;
}

.index .frames-title {
  grid-column: span 12;
  position: absolute;
  width: 100%;
  display: flex;
  gap: calc(var(--spacing) / 3);
  flex-direction: column;
}

.index article.frames-featured {
  grid-column: span 4/9;
  overflow: hidden;
  aspect-ratio: 3/4;

  @media (max-width: 767px) {
    grid-column: span 4 / 6;
  }
}

.index img {
  /* aspect-ratio: 3/4; */
  background: var(--accent);
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.index filter-sort {
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
}

.index .gallery {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: auto;
  gap: var(--spacing);
  align-items: end;
}

.index .gallery article {
  grid-column: span 4;

  @media (max-width: 767px) {
    grid-column: span 6;
  }
}

/* RANDOM SIZE
.index section.frames-gallery article:nth-child(3n + 1),
.index section.frames-gallery article:nth-child(7n + 2),
.index section.frames-gallery article:nth-child(11n + 5) {
  grid-column: span 2;
}

.index section.frames-gallery article:nth-child(3n + 1),
.index section.frames-gallery article:nth-child(7n + 2) {
  aspect-ratio: 4/3;
}

.index section.frames-gallery article:nth-child(6n + 1) {
  outline: 1px solid red;
  margin-right: calc((100vw - (13 * var(--spacing))) / 9);
  grid-column: span 4;
}

.index section.frames-gallery article:last-child {
  grid-column: 5 / 9;
}
*/

.index .gallery article h2 {
  font-family: var(--sans);
  font-weight: 600;
  margin-top: var(--spacing-half);
}

/* INDEX END */

/* SINGLE PAGE */

header a.logo {
  align-items: center;
  justify-content: space-between;
}

header a.logo svg.wordmark {
  height: 1rem;
}

.single header svg path,
.single header nav-menu button menu-icon {
  fill: var(--primary);
  background: var(--primary);
  transition: var(--transition-medium);
}

.single header a:hover svg path {
  fill: var(--accent);
}

.single header nav-menu button:hover menu-icon {
  background: var(--accent);
}

.single article {
  grid-column: span 12;
  display: grid;
  grid-template-columns: [fullwidth-start] 1fr 1fr [col-8-start] 1fr [col-6-start] 1fr 1fr 1fr [center] 1fr 1fr 1fr [col-6-end] 1fr [col-8-end] 1fr 1fr [fullwidth-end];
  column-gap: var(--spacing);
  grid-auto-rows: auto;
  position: relative;
  margin-block: var(--spacing-vertical);
}

.single article img,
.single article h3,
.single article p,
.single article ul,
.single article ol,
.single article pre,
.single article hr,
.single article .footnotes,
.single article footer {
  grid-column: col-6;

  @media (max-width: 1023px) {
    grid-column: col-8;
  }

  @media (max-width: 767px) {
    grid-column: fullwidth;
  }
}

.single article h1 {
  grid-column: fullwidth;
  grid-column-end: center;
  font-size: var(--fs-l);
  font-weight: 500;
  margin-block: var(--spacing);
}

.single article h2 {
  grid-column-start: col-8;
  grid-column-end: fullwidth;
  margin-top: var(--spacing);
  font-size: var(--fs-m);
  font-family: var(--mono);
  font-weight: 500;
  line-height: 100%;
  color: var(--blue-950);
  opacity: 0.5;
}

.single article header time {
  grid-column-start: fullwidth-start;
  grid-column-end: col-6-start;
  grid-row: 1;
}

.metadata {
  grid-column: fullwidth;
  grid-column-start: center;
  display: flex;
  align-items: center;
  gap: 1ch;
  font-family: var(--mono);
  font-size: var(--fs-xs);
}

.metadata *:nth-child(1),
.metadata *:nth-child(2) {
  &::after {
    content: ",";
  }
}

.metadata *:nth-child(1) {
  grid-column: span 6;
}

.metadata *:nth-child(2),
.metadata *:nth-child(3) {
  grid-column: span 3;
}

.metadata *:nth-child(3) {
  text-align: right;
}

.single article .featured {
  grid-column: fullwidth;
  margin-block: var(--spacing);
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  background: var(--blue-50);
}

.single article > p {
  font-size: var(--font-size-medium);
  font-weight: 500;
  grid-column-end: fullwidth;
  margin-block: var(--spacing);
  hyphens: auto;
  text-wrap-style: auto;
  hyphenate-limit-chars: 7;
}

.single article > p:not(:has(img)) {
  grid-column-start: col-6;
  grid-column-end: col-6;
}

.single article > p:not(:has(img)) + p:not(:has(img)) {
  text-indent: calc(100vw / 12 - var(--spacing) - 0.2em);
}

.single article p:has(img) {
  grid-column: fullwidth;
}

.single article img.featured + h2 + p,
.single article img.featured + p {
  grid-column-start: col-6;
  grid-column-end: fullwidth;
  font-size: var(--fs-l);
}

.single article img {
  object-fit: contain;
  width: 100%;
  height: auto;
  background: var(--blue-50);
}

p:not(:has(img)) + p:has(img) + p:has(img),
p:not(:has(img)) + p:has(img) + p:has(img) + p:has(img) {
  grid-column: span 6 !important;
}

/* TARGET IMG WITH SPECIFIC ALT TEXT */
.single article p:has(img[alt$="Column 6"]) {
  grid-column: span 6;
}

p:has(img) {
  font-size: var(--fs-xs) !important;
}

.single article img[loading="lazy"] {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out forwards;
  animation-delay: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* SINGLE END */
