@import '../styles/variables.css';

body {
    background-color: var(--flexoki-cyan-950);
    color: var(--flexoki-orange-50);
}

a, a:visited {
    color: var(--flexoki-orange-300);
    text-decoration: none;
    transition: 300ms ease-in-out;

    &:hover, &:focus, &:active {
        color: var(--flexoki-orange-150);
    }   
}

p.tagline {
    color: var(--flexoki-cyan-600);
}

h1 {
    color: var(--flexoki-paper);
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
    max-width: 100%;
    padding: 0;
}

main section {
    grid-column: 4/10;
    
    &:has(blockquote) {
        margin-block-start: calc(3 * var(--spacing));
    }

    &:has(h1) {
        display: flex;
        flex-direction: column;
        margin-top: calc(-1.13 * calc(2em + calc(var(--spacing) / 5)));
        gap: calc(var(--spacing) / 5);
        
        @media (max-width: 767px) {
            flex-direction: row;
            margin-top: var(--spacing);
            outline: solid red;
        }
    }
    
    /* MOBILE */
    @media (max-width: 767px) {
        grid-column: 1/13;
    }
}

figure {
    margin: 0;
    margin-block: calc(6* var(--spacing));
    height: fit-content
}

figure a {
    border-bottom: 1px dashed var(--flexoki-cyan-600);

    &:hover, &:focus, &:active { 
        border-color: var(--flexoki-cyan-300);
    }
}

blockquote {
    margin: 0;
    font-family: var(--font-garamond);
    font-size-adjust: .545;
    position: relative;
    
    &::before {
         content: "“";
         position: absolute;
         left: calc(var(--spacing) * -1);
         top: calc(var(--spacing) / -3);
         font-size: 2.4rem;
         color: var(--flexoki-cyan-600);
    } 
}

blockquote p {
    font-family: var(--font-garamond);
    font-size: var(--font-size-medium);
    font-size-adjust: var(--font-garamond-adjust);
    line-height: 180%;
}

p strong {
    color: var(--flexoki-paper);
    font-weight: normal;
    font-family: var(--font-inter);
}

figcaption,
figure > p {
    font-family: var(--font-inter);
    font-size: var(--font-size-small);
    text-align: right;
    text-transform: capitalize;
}

time {
    visibility: hidden;
}

/* QUOTATION from Obsidian
figure:before,
figure:after {
    font-family: 'EB Garamond';
    font-size: 3rem;
    color: var(--flexoki-cyan-600);
}
figure:before {
    content: "“";
}
figure:after {
    content: "”";
    text-align: right;
    float: right;
    margin-top: 2rem;
}
 QUOTATION END */

 svg {
    fill: var(--flexoki-cyan-900);
}