:root {
    /* SCOPPED VARIABLE */
    --accent: var(--cyan-600);
    --text: var(--800);
    --muted: var(--600);
    --highlight: var(--cyan-800);
    --interaction: var(--cyan-400);
    --sans: var(--font-inter);
    --serif: var(--font-garamond);
}

body {
    background-color: var(--paper);
    color: var(--text);
}

a,
a:visited {
    color: var(--highlight);
    text-decoration: none;
    transition: var(--transition-medium);

    &:hover,
    &:focus,
    &:active {
        color: var(--interaction);
    }
}

header * {
    font-family: var(--sans);
}

header p {
    color: var(--muted);
}

logo-container svg path {
    color: var(--accent);
}

logo-monogram a span,
header nav button burger-line {
    background-color: var(--accent);
}

header nav {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) / 5);

    @media (max-width: 767px) {
        order: 3;
    }
}

header nav ul {
    display: inline;

    /* MOBILE */
    @media (max-width: 767px) {
        display: none;
    }
}

header nav ul li {
    display: inline;
}

header nav ul li:not(:last-child)::after {
    content: ",";
}

header nav ul + ul {
    line-height: 1em;
}

header nav ul:nth-child(2) * {
    font-size: var(--font-size-small);
    color: var(--muted);
}

page-title p {
    @media (max-width: 767px) {
        display: none;
    }
}

h1 {
    color: var(--highlight);
}

main {
    grid-template-columns: [col-12-start] 1fr 1fr 1fr [col-6-start] 1fr 1fr 1fr 1fr 1fr 1fr [col-6-end] 1fr 1fr 1fr [col-12-end];
}

article {
    grid-column: col-6;

    @media (max-width: 767px) {
        grid-column: col-12;
    }
}

main section {
    grid-column: 4/10;

    &:has(blockquote) {
        margin-block-start: calc(3 * var(--spacing));
    }

    &:has(h1) {
        display: flex;
        flex-direction: column;
        margin-top: calc(-1.13 * calc(2em + calc(var(--spacing) / 5)));
        gap: calc(var(--spacing) / 5);

        @media (max-width: 767px) {
            flex-direction: row;
            margin-top: var(--spacing);
            outline: solid red;
        }
    }

    /* MOBILE */
    @media (max-width: 767px) {
        grid-column: 1/13;
    }
}

figure {
    margin: 0;
    margin-block: calc(6 * var(--spacing));
    height: fit-content;
}

figure a {
    border-bottom: 1px solid var(--accent);

    &:hover,
    &:focus,
    &:active {
        border-color: var(--interaction);
    }
}

blockquote {
    margin: 0;
    font-family: var(--serif);
    font-size-adjust: 0.545;
    position: relative;

    /* CURLY QUOTE
    &::before {
        content: "“";
        position: absolute;
        left: calc(var(--spacing) * -1);
        top: calc(var(--spacing) / -3);
        font-size: var(--font-size-medium);
        font-size-adjust: 1.2;
        color: var(--accent);
    } 
    */
}

blockquote p {
    font-family: var(--serif);
    font-size: var(--font-size-medium);
    font-size-adjust: var(--font-garamond-adjust);
    line-height: 180%;
    margin-block: var(--spacing);
}

p strong {
    color: var(--highlight);
    font-weight: normal;
    font-family: var(--sans);
}

figcaption,
figure > p {
    font-family: var(--sans);
    font-size: var(--font-size-small);
    text-align: right;
    text-transform: capitalize;
}

time {
    visibility: hidden;
}

figure::after {
    content: "";
    height: 0;
    width: 100%;
    border-bottom: 1px dashed var(--cyan-50);
    position: absolute;
    left: 0;
    opacity: 1;
    margin-top: calc(3 * var(--spacing));
}

footer {
    font-family: var(--sans);
}

footer h3 {
    color: var(--muted);
}

svg {
    fill: var(--highlight);
}
