@import '../styles/variables.css';

body {
    background-color: var(--flexoki-cyan-950);
    color: var(--flexoki-orange-50);
}

a, a:visited {
    color: var(--flexoki-orange-300);
    text-decoration: none;
    transition: 300ms ease-in-out;

    &:hover, &:focus, &:active {
        color: var(--flexoki-orange-150);
    }   
}

p.tagline {
    color: var(--flexoki-cyan-600);
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    gap: var(--spacing);
    max-width: 100%;
    padding: 0;
}

section {
    grid-column: 4/10;
    
    &:has(blockquote) {
        margin-block-start: calc(3 * var(--spacing));
    }

    &:has(h1) {
        display: flex;
        flex-direction: column;
        margin-top: calc(-1.13 * calc(2em + calc(var(--spacing) / 5)));
        gap: calc(var(--spacing) / 5);
    }
}

h1 {
    font-weight: 400;
    margin: 0;
    font-family: var(--font-fraunces);
    font-size: 1em;
    font-size-adjust: ex-height 0.5;
}

h1 + p {
    font-family: var(--font-inter);
    font-size-adjust: ex-height 0.5;
    margin: 0;
    color: var(--flexoki-cyan-600);
}

figure {
    margin: 0;
    margin-block: var(--spacing);
    height: fit-content;
    overflow: hidden;
}

figure a {
    border-bottom: 1px dashed var(--flexoki-cyan-600);

    &:hover, &:focus, &:active { 
        border-color: var(--flexoki-cyan-300);
    }
}

blockquote {
    margin: 0;
}

blockquote p {
    font-family: var(--font-garamond), serif;
    font-size-adjust: var(--font-garamond-adjust);
}

p strong {
    color: var(--flexoki-paper);
    font-weight: normal;
    font-family: var(--font-inter);
    font-size-adjust: var(--font-garamond-adjust);
}

figcaption,
figure > p {
    text-align: right;
}

time {
    visibility: hidden;
}

/* QUOTATION */
figure:before,
figure:after {
    font-family: 'EB Garamond';
    font-size: 3rem;
    color: var(--flexoki-cyan-600);
}
figure:before {
    content: "“";
}
figure:after {
    content: "”";
    text-align: right;
    float: right;
    margin-top: 2rem;
}
/* QUOTATION END */