:root {
    /* LAYOUT */
    /* 15px @ 320px viewport → 45px @ 2560px viewport */
    --fluid-size: clamp(15px, 1.339vw + 10.714px, 45px);
    --spacing: var(--fluid-size);
    --spacing-vertical: calc(var(--fluid-size) * 2);
    --size: var(--fluid-size);
    --grid-12: repeat(12, 1fr);
    --grid-9: repeat(9, 1fr);
    --grid-6: repeat(6, 1fr);
    --grid-3: 1fr 1fr 1fr;

    --grid: var(--grid-12);

    @media (max-width: 1023px) {
        --grid: var(--grid-9);
    }

    @media (max-width: 767px) {
        --grid: var(--grid-6);
    }

    /* TYPOGRAPHY */   
    /* 24px @ 320px viewport → 48px @ 2560px viewport */
    --font-size-large: clamp(24px, 1.071vw + 20.571px, 48px);
    /* 15px @ 320px viewport → 21px @ 2560px viewport */
    --font-size-medium: clamp(15px, 0.268vw + 14.143px, 21px);
    /* 12px @ 320px viewport → 18px @ 2560px viewport */
    --font-size-small: clamp(12px, 0.268vw + 11.143px, 18px);

    --font-garamond-adjust: 0.545;
    --line-height-small: calc(100% + calc(var(--spacing) / 5));

    /* COLORS */
    --black: #100F0F;
    --paper: #FFFCF0;
    --50: #F2F0E5;
    --100: #E6E4D9;
    --150: #DAD8CE;
    --200: #CECDC3;
    --300: #B7B5AC;
    --400: #9F9D96;
    --500: #878580;
    --600: #6F6E69;
    --700: #575653;
    --800: #403E3C;
    --850: #343331;
    --900: #282726;
    --950: #1C1B1A;
    --red-50: #FFE1D5;
    --red-100: #FFCABB;
    --red-150: #FDB2A2;
    --red-200: #F89A8A;
    --red-300: #E8705F;
    --red-400: #D14D41;
    --red-500: #C03E35;
    --red-600: #AF3029;
    --red-700: #942822;
    --red-800: #6C201C;
    --red-850: #551B18;
    --red-900: #3E1715;
    --red-950: #261312;
    --orange-50: #FFE7CE;
    --orange-100: #FED3AF;
    --orange-150: #FCC192;
    --orange-200: #F9AE77;
    --orange-300: #EC8B49;
    --orange-400: #DA702C;
    --orange-500: #CB6120;
    --orange-600: #BC5215;
    --orange-700: #9D4310;
    --orange-800: #71320D;
    --orange-850: #59290D;
    --orange-900: #40200D;
    --orange-950: #27180E;
    --green-50: #EDEECF;
    --green-100: #DDE2B2;
    --green-150: #CDD597;
    --green-200: #BEC97E;
    --green-300: #A0AF54;
    --green-400: #879A39;
    --green-500: #768D21;
    --green-600: #66800B;
    --green-700: #536907;
    --green-800: #3D4C07;
    --green-850: #313D07;
    --green-900: #252D09;
    --green-950: #1A1E0C;
    --cyan-50: #DDF1E4;
    --cyan-100: #BFE8D9;
    --cyan-150: #A2DECE;
    --cyan-200: #87D3C3;
    --cyan-300: #5ABDAC;
    --cyan-400: #3AA99F;
    --cyan-500: #2F968D;
    --cyan-600: #24837B;
    --cyan-700: #1C6C66;
    --cyan-800: #164F4A;
    --cyan-850: #143F3C;
    --cyan-900: #122F2C;
    --cyan-950: #101F1D;
    --blue-50: #E1ECEB;
    --blue-100: #C6DDE8;
    --blue-150: #ABCFE2;
    --blue-200: #92BFDB;
    --blue-300: #66A0C8;
    --blue-400: #4385BE;
    --blue-500: #3171B2;
    --blue-600: #205EA6;
    --blue-700: #1A4F8C;
    --blue-800: #163B66;
    --blue-850: #133051;
    --blue-900: #12253B;
    --blue-950: #101A24;

    /* MOTION */
    --transition-fast: 150ms ease-in-out;
    --transition-medium: 300ms ease-in-out;
    --scale: 0.97;
}