---
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About - Al Firous</title>
	</head>
	<body>
        <header>
            <Nav /> 
        </header>
        <main>
            <article>
                <h1>About Al Firous</h1>
                <p>This is the about page for Al Firous.</p>
            </article>
        </main>
	</body>
</html>
