---
import '../styles/global.css';
import '../styles/garden.css';
import GardenLayout from '../layouts/GardenLayout.astro';

const title = "Garden"; 
const description = "Notes, documentation, and miscellaneous writings.";
---

<GardenLayout title={title} description={description}>
    <section class="hero">
        <h1>Garden</h1>
        <p><a href="/">Notes</a>, documentation, etc.</p>
    </section>
</GardenLayout>