---
import GardenLogo from '../components/GardenLogo.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Grid from '../components/Grid.astro';
import '../styles/garden.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Garden - Al Firous</title>
	</head>
	<body>
        <header>
            <GardenLogo />
            <Nav /> 
        </header>
        <main>
            <section class="hero">
                <h1>Garden</h1>
                <p><a href="/">Notes</a>, documentation, etc.</p>
            </section>
        </main>
        <Footer />
        <Grid />
	</body>
</html>

<!-- Override components css 
<style is:global>
    a, a:visited {
        color: var(--flexoki-cyan-100);
    }
</style>
-->