---
import Head from '../components/Head.astro';

const title = "Labs"; 
const description = "Multidisciplinary maker creating out of curiosity and things I wish existed. Experiment, exploration, or proof of concept. Unpolished and imperfect. No rules and boundaries. With or without limitations.";
const url = "/labs";
---

<html lang="en">
  <Head title={title} description={description} url={url} />
  <body>
    <h1>{title}</h1>
    <p>Multidisciplinary maker creating out of curiosity and things I wish existed. Experiment, exploration, or proof of concept. Unpolished and imperfect. No rules and boundaries. With or without limitations.</p>
  </body>
</html>