---
import { getCollection } from 'astro:content';
import { Font } from 'astro:assets';

import GardenLayout from '../layouts/GardenLayout.astro';

import '../styles/global.css';
import '../styles/quotes.css';

const quotes = await getCollection('quotes');

const title = "Quotes"; 
const description = "A collection of quotes from writing, speech, or any form of words.";
---

<GardenLayout title={title} description={description}>
    <Font slot="in-head" cssVariable="--font-garamond" preload />
    <meta slot="in-head" name="test" content="Test named slots" />
    <section>
        {await Promise.all(quotes.map(async (quote) => {
            const { Content } = await quote.render();
            return (
                <figure>
                    <Content />
                </figure>
            );
        }))}
    </section>
</GardenLayout>
