---
import { getCollection } from 'astro:content';
import { Font } from 'astro:assets';

import '../styles/global.css';
import '../styles/quotes.css';

import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Grid from '../components/Grid.astro';

const quotes = await getCollection('quotes');

const title = "Quotes"; 
const description = "Words that resonates.";

import '../assets/images/The Thinker Painting SQUOOSH.jpg'
---

<html lang="en">
    <Head title={title} description={description} favicon="/favicon-cyan.svg" image="/src/assets/images/The Thinker Painting SQUOOSH.jpg">
        <Font cssVariable="--font-inter" preload />
        <Font cssVariable="--font-garamond" preload />
        <meta content="Test named slots" />
    </Head>
    <body>
        <Header title={title} description={description} />
        <main>
            <article>
                {await Promise.all(quotes.map(async (quote) => {
                    const { Content } = await quote.render();
                    return (
                        <figure>
                            <Content />
                        </figure>
                    );
                }))}
            </article>
        </main> 
        <Footer />
        <Grid />
    </body>
</html>
