---
import { getCollection } from 'astro:content';
import Head from '../components/Head.astro';
import Logo from '../components/Logo.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Grid from '../components/Grid.astro';
import '../styles/quotes.css';
import { Font } from 'astro:assets';

const quotes = await getCollection('quotes');

const title = "Quotes"; 
const description = "A collection of quotes from writing, speech, or any form of words.";
---

<html lang="en">
	<Head title={title} description={description}>  
        <Font cssVariable="--font-garamond" preload />
	</Head>
	<body>
        <header>
            <Logo />
            <Nav /> 
        </header>
        <main>
            <section>
                <h1>Quotes</h1>
                <p>Logophiles, a lover of words.</p>
            </section>
            <section>
                {await Promise.all(quotes.map(async (quote) => {
                    const { Content } = await quote.render();
                    return (
                        <figure>
                            <Content />
                            {quote.data.modified && <time>{quote.data.modified.toLocaleDateString()}</time>}
                        </figure>
                    );
                }))}
            </section>
        </main>
        <Footer />
        <Grid />
	</body>
</html>
