---
import LogoMain from "./LogoMain.astro";
import Nav from "./Nav.astro";
---

<header class="justified">
  <div class="left">
    <a href="/" class="logomark">
      <LogoMain />
    </a>
    <nav>
      <ul>
        <li><a href="/work">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/labs">Labs</a></li>
      </ul>
    </nav>
  </div>
  <div class="right">
    <nav>
      <ul>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/frames">Frames</a></li>
        <li><a href="/monstresia">Monstresia</a></li>
      </ul>
    </nav>
    <nav-menu title="Navigation">
      <button aria-label="menu" aria-expanded="false" aria-controls="main-menu" class="menu">
        <svg width="100%" height="100%" viewBox="0 0 1250 1250" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
          ><rect id="Artboard6" x="0" y="0" width="1250" height="1250" style="fill:none;"></rect><g id="Artboard61" serif:id="Artboard6"
            ><rect x="0" y="0" width="125" height="125" style="fill:#fff;"></rect><rect x="1125" y="0" width="125" height="125" style="fill:#fff;"></rect><rect x="0" y="1125" width="125" height="125" style="fill:#fff;"></rect><rect x="281.25" y="843.75" width="125" height="125" style="fill:#fff;"></rect><rect x="843.75" y="843.75" width="125" height="125" style="fill:#fff;"></rect><rect x="281.25" y="281.25" width="125" height="125" style="fill:#fff;"></rect><rect x="843.75" y="281.25" width="125" height="125" style="fill:#fff;"></rect><rect x="1125" y="1125" width="125" height="125" style="fill:#fff;"></rect><rect x="0" y="562.5" width="125" height="125" style="fill:#fff;"></rect><rect x="1125" y="562.5" width="125" height="125" style="fill:#fff;"></rect><rect x="562.5" y="0" width="125" height="125" style="fill:#fff;"></rect><rect x="562.5" y="1125" width="125" height="125" style="fill:#fff;"></rect><rect x="562.5" y="562.5" width="125" height="125" style="fill:#fff;"></rect></g
          ></svg
        >
      </button>
      <Nav />
    </nav-menu>
  </div>
</header>
