---
import NavMenu from "./NavMenu.astro";
import LogoMain from "./LogoMain.astro";
---

<header class="minimal">
  <a href="/" class="logomark">
    <LogoMain />
  </a>
  <slot />
  <!-- Page logo injected here -->
  <nav-menu title="Navigation">
    <button aria-label="menu" aria-expanded="false" aria-controls="main-menu" class="menu">
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
      <menu-icon></menu-icon>
    </button>
    <NavMenu />
  </nav-menu>
</header>
