---
import Logo from "./Logo.astro"
---

<header class="editorial">
    <a href="/" class="logomark">
        <svg width="300" height="300" viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg">
            <title>Al Firous</title>
            <path d="M5 0C2.23857 0 0 2.23858 0 5V25C0 27.7614 2.23858 30 5 30H125.393C128.601 30 130.982 32.9817 130.127 36.0735C114.774 91.5778 64.8604 132.728 5.00328 134.909C2.24369 135.01 0 137.239 0 140V160C0 162.761 2.24092 164.99 5.00052 165.091C32.9469 166.109 58.7258 175.621 79.832 191.123C82.2339 192.887 82.4223 196.365 80.315 198.472L1.46447 277.322C0.52679 278.26 6.81481e-06 279.532 6.8744e-06 280.858L7.50989e-06 295C7.63397e-06 297.761 2.23858 300 5.00001 300H19.1421C20.4682 300 21.74 299.473 22.6777 298.536L101.528 219.685C103.635 217.578 107.113 217.766 108.877 220.168C124.379 241.274 133.892 267.053 134.909 294.999C135.01 297.759 137.239 300 140 300H160C162.761 300 164.99 297.759 165.091 294.999C166.109 267.053 175.621 241.274 191.122 220.168C192.887 217.766 196.364 217.578 198.472 219.685L277.322 298.536C278.26 299.473 279.531 300 280.858 300H295C297.761 300 300 297.761 300 295V280.858C300 279.532 299.473 278.26 298.536 277.323L219.685 198.472C217.578 196.365 217.766 192.887 220.168 191.123C241.274 175.621 267.053 166.109 294.999 165.091C297.759 164.99 300 162.761 300 160V140C300 137.239 297.756 135.01 294.997 134.909C235.14 132.728 185.227 91.5778 169.873 36.0735C169.018 32.9817 171.399 30 174.607 30H295C297.761 30 300 27.7614 300 25V5.00001C300 2.23858 297.761 7.50288e-06 295 7.34682e-06L5 0ZM169.972 191.185C171.8 193.014 171.926 195.931 170.325 197.962C164.536 205.309 159.358 213.161 154.867 221.439C152.829 225.195 147.171 225.195 145.133 221.439C140.642 213.161 135.464 205.309 129.675 197.962C128.074 195.93 128.199 193.014 130.028 191.185L146.464 174.749C148.417 172.796 151.583 172.796 153.535 174.749L169.972 191.185ZM221.439 145.133C225.195 147.17 225.195 152.829 221.439 154.867C213.161 159.358 205.309 164.536 197.962 170.326C195.93 171.926 193.014 171.801 191.185 169.972L153.535 132.322C151.583 130.37 148.417 130.37 146.464 132.322L108.815 169.972C106.986 171.801 104.07 171.926 102.038 170.325C94.6908 164.536 86.8394 159.358 78.5607 154.867C74.8049 152.829 74.8051 147.17 78.561 145.133C106.685 129.877 129.877 106.685 145.133 78.561C147.17 74.8051 152.83 74.8051 154.867 78.561C170.123 106.685 193.315 129.877 221.439 145.133Z"/>
        </svg>
    </a>
    <p><a href="/">Al Firous</a>, <tag-line>Multidisciplinary Designer</tag-line>.</p>
    <nav aria-label="main navigation">Work, Labs, Garden, Frames, Out.</nav>
    <nav id="full"></nav>
</header>