---
import Logo from './Logo.astro';
import Nav from './Nav.astro';

const {title, description} = Astro.props;
---

<header>
    <Logo />
    <Nav />   
    <page-title>
        <h1>{title}</h1>
        <p>{description}</p>
    </page-title>
</header>

<style is:global>
logo-container {
    @media (max-width: 767px) {
        grid-column: span 7;
        grid-template-columns: repeat(7, 1fr);
    }
}

logo-wordmark {
    @media (max-width: 767px) {
        grid-column: span 6;
    }
}

page-title {
    
    @media (max-width: 767px) {
        grid-column: span 4;
        justify-self: right;
    }
}
</style>