---

---

<logo-container>
    <logo-monogram>
        <a href="/" class="logomark">
            <!-- <img src="/assets/logo.png" alt="Al Firous" title="Al Firous"/>  -->
             <span/>
        </a>
    </logo-monogram>
    <logo-wordmark>
        <a href="/" class="wordmark">Al Firous</a>
        <p class="tagline">Multidisciplinary Designer</p>
    </logo-wordmark>
</logo-container>