---

---

<div class="logo-container">
<a href="/" class="logo">
    <!--<img src="/assets/logo.png" alt="Al Firous" title="Al Firous"/>-->    
    Al Firous
</a>
<p class="tagline">Multi-disciplinary Designer</p>
</div>