---
import '../styles/variables.css';
---

<nav>
    <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/labs">Labs</a></li>
    </ul>
    <ul>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/frames">Frames</a></li>
        <li><a href="/monstresia">Monstresia</a></li>
    </ul>
    <button aria-label="Toggle Menu">
        <burger-line></burger-line>
        <burger-line></burger-line>
    </button>
</nav>

<style is:global>
header nav button burger-line {
    height: 2px;
    width: 100%;
    display: block;
}
</style>