---
import '../styles/global.css';
---

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
        <li><a href="/garden/">Garden</a></li>
    </ul>
</nav>

<style>
@layer components, pages;

@layer components {
    nav ul {
        padding-inline-start: 0;
    }
    nav ul li {
        display: inline;
    }
    a, a:visited {
        color: var(--flexoki-orange-500);
    }
}
</style>