---
import '../styles/global.css';
---

<nav>
    <ul>
        <li><a href="/">Work</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/labs">Labs</a></li>
    </ul>
    <ul>
        <li><a href="/garden">Garden</a></li>
        <li><a href="/frames">Frames</a></li>
        <li><a href="/monstresia">Monstresia</a></li>
    </ul>
    <button aria-label="Toggle Menu">
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</nav>