---
import { getCollection } from 'astro:content';

const allQuotes = await getCollection('quotes');
const totalQuotes = allQuotes.length;
---

<nav>
    <nav-column>
        <h3>Main</h3>
        <ul>
            <li><a href="/">Work</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/labs">Labs</a></li>
            <li><a href="/garden">Garden</a></li>
        </ul>
    </nav-column>
    <nav-column>
        <h3>Misc</h3>
        <ul>
            <li><a href="/frames">Frames</a></li>
            <li><a href="/monstresia">Monstresia</a></li>
            <li><a href="/quotes">Quotes <span>({totalQuotes})</span></a></li>
            <li><a href="/pages">Pages</a></li> 
        </ul>
    </nav-column>
    <nav-column>
        <h3>Elsewhere</h3>
        <ul>
            <li><a href="mailto:al@firous.com">Email</a></li>
            <li><a href="https://cosmos.so/alfirous" rel="me">Cosmos</a></li>
            <li><a href="https://letterboxd.com/alfirous/" rel="me">Letterboxd</a></li>
            <li><a href="/links">More</a></li>
        </ul>
    </nav-column>
</nav>