---
import Head from "../components/Head.astro";
import { Font } from "astro:assets";
import "../styles/frames.css";

const { title, description, image } = Astro.props;
---

<html lang="en" class="single">
  <Head title={title} description={description} image={image}>
    <slot name="in-head" slot="in-head" />
    <Font cssVariable="--font-museum" preload />
  </Head>
  <body>
    <main>
      <slot /><!-- your content is injected here -->
    </main>
    <footer>
      <p>A frame may have a story waiting to be told, even if it's just ordinary, plain, or mundane.</p>
    </footer>
  </body>
</html>
